/*
PURPOSE:
----------------------------------------------------
This CSS sheet is for my personal website.
----------------------------------------------------

UPDATES AND CHANGELOG:
----------------------------------------------------
- 2014-06-24
        - Added styling for tooltip on home page
- 2014-06-12
        - Added styling for examples in footnotes
        - Added styling for continuous examples in blog posts
- 2014-06-09
        - Switched colors of current and profile
- 2014-06-02
	- Added div for embedding videos in center
	- Added bold declaration for strong because of weird font stuff
- 2014-06-01
	- Added Computer Modern Typewriter and made it the code font
	- Added meta-info class for blog post pages
- 2014-05-31
	- Deleted old styling for the blog index pages
	- Fixed issue with class and id use
- 2014-05-29
	- 4.0 CC license
	- New fonts
		- page-title = Italianno
		- h1 - h6 = Raleway
		- main text = Computer Modern
- 2013-10-16
	- Added centering to entire footer div
	- Added classes and ids for images in the blog
- 2013-09-26
	- Moved the assignment of the z-indices for the
	nav bar to the PHP templates file
- 2013-09-23
	- Changed link colors in the footer to #5BA2D7
	- Added #header a:hover{color:#B22613;text-decoration:none;},
	since it didn't seem to be picked up from the main body
	styling section.
- 2013-09-22
	- Inception
----------------------------------------------------

RIGHTS:
----------------------------------------------------
I place this CSS style under the Creative Commons 
Attribution-NonCommercial-ShareAlike 
4.0 International License:
http://creativecommons.org/licenses/by-nc-sa/4.0/

Modify and use as you wish, though not for commercial purposes.
Attribute and share under a similar license!
----------------------------------------------------
*/

/*
FONTS:
----------------------------------------------------
*/

@font-face{
    font-family: 'MyItalianno';
    src: url('fonts/italianno.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/italianno.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face{
    font-family: 'MyRaleway';
    src: url('fonts/raleway.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/raleway.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face{
    font-family: 'MyComputerModern';
    src: url('fonts/cmunrm.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/cmunrm.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'MyComputerModern';
    src: url('fonts/cmunbx.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/cmunbx.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'MyComputerModern';
    src: url('fonts/cmunti.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/cmunti.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'MyComputerModern';
    src: url('fonts/cmunbi.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/cmunbi.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: bold;
    font-style: italic;
}

@font-face{
    font-family: 'MyComputerModernTypewriter';
    src: url('fonts/cmuntt.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('fonts/cmuntt.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: normal;
    font-style: normal;
}

/*
MAIN BODY STYLING:
----------------------------------------------------
*/

body{
    font-family: MyComputerModern, Palatino, serif;
    color: black;
    background-color: #F8F8F8;
    font-weight: 300;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #B22613;
    text-decoration: none;
}

p{
    text-align: justify;
}

blockquote{
    background: #F0F0F0;
    border-left: 0.2em solid #000000;
    margin: 1.5em 1.5em;
    padding: 0.5em 0.5em;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: justify;
}

blockquote:before{
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p{
    display: inline;
}

code{
    font-family: MyComputerModernTypewriter;
}

strong{
    font-weight: bold; /* This is necessary for some reason since I am using my own font */
}

/*
MAIN DIV CONTAINERS AND SOME STYLING THEREOF:
----------------------------------------------------
*/

#main-wrapper{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 60em;
}

#header-wrapper{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1em;
}

#page-title{
    position: inherit;
    width: 100%;
    font-size: xx-large;
    font-family: MyItalianno, cursive;
    font-weight: 900;
    color: #B22613;
    text-decoration: none;
    border: none;
}

#page-title a{
    color: #B22613;
}

#page-title table{
    width: 100%;
}

#page-title table td.left{
    text-align: left;
    vertical-align: middle;
}

#page-title table td.right{
    text-align: right;
    vertical-align: middle;
}

#header{
    width: 100%;
    margin: 0 auto;
    display: block;
    border-bottom: 0.188em solid #8E8E8E;
}

#header a:hover{
    color: #5BA2D7;
    text-decoration: none;
}

#content-wrapper{
    width: 80%;
    clear: both;
    margin: 0 auto;
    background-color: #F0F0F0;
    border-radius: 1.5em;
    border: 0.2em solid #000000;
}

#content{
    width:80%;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    counter-reset: continuous-example-counter 0;
}

#content a{
    color: #5BA2D7;
}

#content h1,h2,h3,h4,h5,h6{
    color: #B22613;
    font-family: MyRaleway, sans-serif; 
}

#footer-wrapper{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0.5em 0em 0.5em;
}

#footer{
    width:100%;
    margin: 0 auto;
    font-size: 0.45em;
    font-weight:900;
    font-stretch: expanded;
    text-align: center;
}

#footer p{
    text-align: center;
}

#footer a,a:hover{
    color: #5BA2D7;
}

/*
STYLING FOR NAME IN IPA:
----------------------------------------------------
*/

#ipa{
    text-align: center;
    font-size: 150%;
}

p.tooltips{
    position: relative;
    display: inline;
}

p.tooltips span{
    text-size: x-small;
    position: absolute;
    width: 140px;
    color: #B22613;
    background: #000000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}

p.tooltips span:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid #000000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

p.tooltips:hover span{
    visibility: visible;
    opacity: 0.8;
    left: 100%;
    top: 50%;
    margin-top: -15px;
    margin-left: 15px;
    z-index: 999;
}

/*
NAVIGATION MENU STYLING:
----------------------------------------------------
*/

article.tab-nav{
    position: relative;
    display: block;
    width: 100%;
    height: 4.8em;
}

article.tab-nav section{
    position: absolute;
    display: block;
    top: 1.8em;
    left: 0;
    width: 100%;
    height: 1.4em;
    padding: 0em 0em 0.625em 0em;
    background-color: #F0F0F0;
    border-radius: 0em 0.313em 0.313em 0.313em;
    z-index: 0;
    border: 0.063em solid #000000;
}

article.tab-nav section h2{
    position: absolute;
    font-family: MyComputerModern, Palatino, serif;
    font-size: 1em;
    font-weight: normal;
    width: 7.5em;
    height: 1.725em;
    top: -1.8em;
    left: -0.063em;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
    border-radius: 0.313em 0.313em 0em 0em;
    border-top: 0.063em solid #000000;
    border-left: 0.063em solid #000000;
    border-right: 0.063em solid #000000;
	
}

article.tab-nav section:nth-child(2) h2{
    left: 7.563em;
}

article.tab-nav section:nth-child(3) h2{
    left: 15.188em;
}

article.tab-nav section:nth-child(4) h2{
    left: 22.813em;
}

article.tab-nav section:nth-child(5) h2{
    left: 30.438em;
}

article.tab-nav section h2 a{
    display: block;
    width: 100%;
    line-height: 1.6em;
    text-align: center;
    text-decoration: none;
    outline: 0 none;
}

article.tab-nav section:hover,
article.tab-nav section:hover h2{
    background-color: #F0F0F0;
    z-index: 10;
}

article.tab-nav section,
article.tab-nav section h2{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

ul.tabmenu{
    width: 100%;
    text-align: left;
    list-style: none;
    line-height: 0.2em;
    padding: 0em 2em 0em 2em;
    position: relative;
}

ul.tabmenu:after{
    content: '.';
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
        
ul.tabmenu li{
    display: inline;
    list-style: none;
    padding: 0em 1em 0em 1em;
    margin: 0 auto;
}

/*
My addition for styling the navigation menu with
curly braces on hover and current page indication.
----------------------------------------------------
*/

.profile{
    text-decoration: none;
    border: 0;
    color: black;
}

.profile:hover{
    text-decoration: none;
}

.profile:hover:before{
    color: black;
}

.profile:hover:after{
    color: black;
}

.profile:before{
    color: #F0F0F0;
    border: 0;
    content: "{";
    font-size: larger;
    font-weight: 500;
}

.profile:after{
    color: #F0F0F0;
    border: 0;
    content: "}";
    font-size: larger;
    font-weight: 500;
}

.current{
    color: #B22613;
}

.current:before{
    color: black;
    content: "{";
    font-size: larger;
    font-weight: 500;
}

.current:after{
    color: black;
    content: "}";
    font-size: larger;
    font-weight: 500;	
}

/*
STUFF FOR THE BLOG:
----------------------------------------------------
*/

.meta-info{
    width: 100%;
    text-align: center;
}

.meta-info ul{
    margin: 0em;
    padding: 0em;
}

.meta-info table{
    font-size: smaller;
    border-spacing: 3em 0em;
    margin: 0 auto;
}

.meta-info th{
    text-align: left;
    color: #B22613;
}

.meta-info td{
    text-align: left;
    vertical-align: top;
}

.embed-video-center{
    margin: 0 auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.img-blog-wrapper{
    width: auto !important; /*override the width below*/
    max-width: 100%;
    width: 600px;
    text-align: center; 
}

.img-blog{
    background: transparent;
    padding: 8px;
    border: 1px solid #999999;	
}

.img-blog-caption{
    text-align: center;
    margin-top: 4px;
    font-size: smaller;
}

li.blog-example-continuous{
    list-style-type: none;
    counter-increment: continuous-example-counter;
}

li.blog-example-continuous:before{
    content: "(" counter(continuous-example-counter) ") ";
}

li.footnote-level-one-example{
    list-style-type: lower-roman;
}

li.footnote-level-two-example{
    list-style-type: lower-alpha;
}

/*
STUFF FOR THE BLOG INDEX PAGES:
----------------------------------------------------
*/

.blog-post-wrapper{
    width: 100%;
    font-size: x-small; /* Smaller than I would like it; but until text wrapping is implemented in MathML */
    padding-top: 1em;
    padding-bottom: 1em;
}

.blog-post-date{
    width: 20%;
    display: inline;
}

.blog-post-meta{
    width: 80%;
    display: inline;
}