<!DOCTYPE html>
<html>

	<head>
	
		<title>{{ site.name }}</title>
		
		<meta charset='utf-8' /> 
		
		<meta name="description" content="{{ site.description }}" />
		
		<meta name="keywords" content="Adam, Adam Liter, Liter, linguistics, semantics, syntax, philosophy, epistemology, environmental philosophy, activism, philosophy of language" />
		
		<link rel="stylesheet" type="text/css" href="http://adamliter.github.io/css/main.css" />
		
		<link rel="shortcut icon" href="http://adamliter.github.io/favicon.ico" /> 
		
		<style type="text/css">article.tab-nav section:nth-child(3){z-index:5;}</style>
		
		<!-- MathJax for blog styling via LaTeX and the `cases` environemnt -->
		<script src=http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML
>
		</script>
		
		<!-- MathJax configuartion stuff
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				HTML-CSS": {
					availableFonts: ["TeX"],
					webFont: "TeX",
					linebreaks: {automatic: true, width: "container"}
				}
			});
    	</script>
    	-->
		
	</head>

	<body>
	
	<div id="main-wrapper">

		<div id="header-wrapper">
		
			<div id="page-title"><table><tr><td class="left"><a href="http://adamliter.org">Adam Liter</a></td><td class="right"><a href="https://twitter.com/adam_liter"><img alt="twitter" width="40" src="http://i.imgur.com/c8I975U.png"></a><a href="https://www.facebook.com/adam.liter.7"><img alt="facebook" width="40" src="http://i.imgur.com/rC9zyQk.png" /></a></td></tr></table></div><!-- END page-title div-->
				
			<div id="header"><article class="tab-nav">
	<section id="tab1">
		<h2><a class="profile" href="http://adamliter.org">Me</a></h2>
			<ul class="tabmenu">
				<li><a class="profile" href="http://adamliter.org/about/">About</a></li>
				<li><a class="profile" href="http://adamliter.org/contact/">Contact</a></li>
			</ul>
	</section>
	<section id="tab2">
		<h2><a class="profile" href="http://adamliter.org/academic/">Academic</a></h2>
			<ul class="tabmenu">
				<li><a class="profile" href="http://adamliter.org/academic/interests/">Research Interests</a></li>
				<li><a class="profile" href="http://adamliter.org/academic/work/">Work</a></li>
				<li><a class="profile" href="http://adamliter.org/content/adamlitercv.pdf">Curriculum Vitae</a></li>
				<li><a class="profile" href="https://www.msu.edu/~qualms/">qUALMS</a></li>
			</ul>
	</section>
	<section id="tab3">
		<h2><a class="current" href="http://adamliter.org/blog/">Blog</a></h2>
			<ul class="tabmenu">
				<li><a class="profile" href="http://adamliter.org/blog/linguistics/">Linguistics</a></li>
				<li><a class="profile" href="http://adamliter.org/blog/philosophy/">Philosophy</a></li>
				<li><a class="profile" href="http://adamliter.org/blog/travel/">Travel</a></li>
				<li><a class="profile" href="http://adamliter.org/blog/coffee/">Coffee</a></li>
			</ul>
	</section>
	<section id="tab4">
		<h2><a class="profile" href="http://adamliter.org/personal/">Personal</a></h2>
			<ul class="tabmenu">
				<li><a class="profile" href="http://adamliter.org/personal/reading/">Reading</a></li>
			</ul>
	</section>
	<section id="tab5">
		<h2><a class="profile" href="http://adamliter.org/misc/">Miscellaneous</a></h2>
			<ul class="tabmenu">
				<li><a class="profile" href="http://adamliter.org/misc/links/">Links</a></li>
			</ul>
	</section>
	</article></div><!-- END header div-->
			
		</div><!-- END header-wrapper div-->
			
			<div id="content-wrapper">