<!DOCTYPE html>
<html>

	<head>
	
		<title>{{ page.title }}</title>
		
		<meta charset='utf-8' /> 
		
		<meta name="description" content="{{ site.description }}" />
		
		<meta name="keywords" content="Adam, Adam Liter, Liter, linguistics, semantics, syntax, philosophy, epistemology, environmental philosophy, activism, philosophy of language" />
		
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		
		<link rel="shortcut icon" href="/favicon.ico" /> 
		
		<style type="text/css">article.tab-nav section:nth-child(1){z-index:5;}</style>
		
	</head>

	<body>
	
	<div id="main-wrapper">

		<div id="header-wrapper">
		
			<div id="page-title"><table><tr><td class="left"><a href="http://adamliter.org">Adam Liter</a></td><td class="right"><a href="https://twitter.com/adam_liter"><img alt="twitter" width="40" src="../content/images/twitter_logo.png"></a><a href="https://www.facebook.com/adam.liter.7"><img alt="facebook" width="40" src="../content/images/facebook_logo.png" /></a></td></tr></table></div><!-- END page-title div-->
				
			<div id="header"><article class="tab-nav">
	<section id="tab1">
		<h2><a class="profile" href="http://adamliter.org">Me</a></h2>
			<ul class="tabmenu">
				<li><a class="profile" href="http://adamliter.org/about/">About</a></li>
				<li><a class="current" href="http://adamliter.org/contact/">Contact</a></li>
			</ul>
	</section>
	<section id="tab2">
		<h2><a class="profile" href="http://academic.adamliter.org">Academic</a></h2>
			<ul class="tabmenu">
				<li><a class="profile" href="http://academic.adamliter.org/interests/">Research Interests</a></li>
				<li><a class="profile" href="http://academic.adamliter.org/work/">Work</a></li>
				<li><a class="profile" href="http://adamliter.org/content/adamlitercv.pdf">Curriculum Vitae</a></li>
				<li><a class="profile" href="https://www.msu.edu/~qualms/">qUALMS</a></li>
			</ul>
	</section>
	<section id="tab3">
		<h2><a class="profile" href="http://blog.adamliter.org">Blog</a></h2>
			<ul class="tabmenu">
				<li><a class="profile" href="http://blog.adamliter.org/linguistics/">Linguistics</a></li>
				<li><a class="profile" href="http://blog.adamliter.org/philosophy/">Philosophy</a></li>
				<li><a class="profile" href="http://blog.adamliter.org/travel/">Travel</a></li>
				<li><a class="profile" href="http://blog.adamliter.org/coffee/">Coffee</a></li>
			</ul>
	</section>
	<section id="tab4">
		<h2><a class="profile" href="http://personal.adamliter.org">Personal</a></h2>
			<ul class="tabmenu">
				<li><a class="profile" href="http://personal.adamliter.org/reading/">Reading</a></li>
			</ul>
	</section>
	<section id="tab5">
		<h2><a class="profile" href="http://misc.adamliter.org">Miscellaneous</a></h2>
			<ul class="tabmenu">
				<li><a class="profile" href="http://misc.adamliter.org/links/">Links</a></li>
			</ul>
	</section>
	</article></div><!-- END header div-->
			
		</div><!-- END header-wrapper div-->
			
			<div id="content-wrapper">